<h1>Componente modal acessível</h1>

<p>Bem vindo(a) à página.</p>
<button
  class="button button-primary"
  type="button"
  (click)="showModal()"
  > Mostrar modal acessível
</button>

<ng-template #modal>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="nome">Nome</label>
      <input
        aria-describedby="nome error"
        [attr.aria-invalid]="form.get('nome').invalid"
        id="nome"
        formControlName="nome">
      <span
        id="nome error"
        class="validation-error"
        *ngIf="form.get('nome')?.errors?.required">
        Nome é um campo obrigatório
      </span>
    </div>

    <div class="form-field">
      <label for="sobrenome">Sobrenome</label>
      <input
        aria-describedby="sobrenome error"
        [attr.aria-invalid]="form.get('sobrenome').invalid"
        id="sobrenome"
        formControlName="sobrenome">
      <span
        id="sobrenome error"
        class="validation-error"
        *ngIf="form.get('sobrenome')?.errors?.required">
          Sobrenome é um campo obrigatório
      </span>
    </div>

    <div class="form-field">
      <label for="idade">Idade</label>
      <input
        aria-describedby="idade error"
        [attr.aria-invalid]="form.get('idade').invalid"
        id="idade"
        formControlName="idade">
      <span
        id="idade error"
        class="validation-error"
        *ngIf="form.get('idade')?.errors?.required">
          Idade é um campo obrigatório
      </span>
    </div>

    <label for="info">Deseja se inscrever na nossa newsletter?</label>
    <input id="newsletter" type="checkbox" (change)="info = !info" formControlName="info"/>
    <p [@fade] *ngIf="info"> Obrigado(a) por se inscrever!</p>

    <div class="button-group">
      <button
        [ngClass]="form.invalid ? 'button button-disabled' : 'button button-primary'"
        [attr.aria-disabled]="form.invalid"
        type="submit">
        Enviar
      </button>


      <button
        type="button"
        class="button button-secondary"
        (click)="modalRef.close()">Cancelar</button>
    </div>
  </form>

</ng-template>
