<h1>Acessible Modal Component</h1>

<p>Welcome to the accessible modal testing page!</p>
<button
  class="button button-primary"
  type="button"
  (click)="showModal()"
  > Show modal
</button>

<ng-template #modal>
  <div class="form-field">
    <label for="firstName"> First Name</label>
    <input id="firstName">
  </div>

  <div class="form-field">
    <label for="surname">Surname</label>
    <input id="surname">
  </div>

  <div class="form-field">
    <label for="age">Age</label>
    <input id="age">
  </div>

  <label for="info">Subscribe to news letter</label>
  <input id="newsletter" type="checkbox" (change)="info = !info"/>
  <p [@fade] *ngIf="info"> This is a placeholder for information</p>
  <div class="button-group">
    <button type="button" class="button button-primary">Submit</button>
    <button
      type="button"
      class="button button-secondary"
      (click)="modalRef.close()">Cancel</button>
  </div>
</ng-template>
